.header {
     position: relative;

    //équivalent de header__text
    //& sera remplacé par la classe "au dessus"
    &__text {
        padding: 1.5rem 0;
        color: white;
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        text-align: center;
        background-color: hsl(0deg 0% 29% / 43%);
        // et bien sur on peut le faire sur plusieurs niveaux
        //ici equivalent de header__text_title
        &__title {
           font-style: italic;
           font-weight: bold;
           font-size: 2.5rem;
           
        }

        &__desc {
            margin-top: 0.3rem;
            letter-spacing: 0.05rem;

        }
    }

    &__image {
        width: 100%;
        // on commence en haut à gauche 
        border-radius: 0 0 15px 15px ;
    }

}
